/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Page Background */

body{
background: linear-gradient(135deg,#3a7bd5,#00d2ff);
min-height:100vh;
font-family: Arial;
}

.card{
border-radius:15px;
}

/* Main Card Container (Login / Register Pages) */

.container{
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 10px 25px rgba(0,0,0,0.2);
    width:400px;
    margin:100px auto;
    text-align:center;
}

/* Headings */

h1,h2{
    margin-bottom:20px;
}

/* Inputs */

input, select{
    width:90%;
    padding:10px;
    margin-top:5px;
    border-radius:5px;
    border:1px solid #ccc;
}

/* Buttons */

button{
    background:#4facfe;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#2f80ed;
}

/* Links */

a{
    text-decoration:none;
    color:#2f80ed;
}

a:hover{
    text-decoration:underline;
}

/* Dashboard Layout */

.dashboard-layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
width:220px;
height:100vh;
position:fixed;
left:0;
top:0;
background:#1f2d3d;
}

.sidebar a{
display:block;
padding:10px;
text-decoration:none;
border-radius:5px;
}

.sidebar a:hover{
background:#34495e;
}

.main-content{
margin-left:240px;
padding:20px;
}



.welcome{
    margin-bottom:30px;
    font-size:18px;
}

/* Dashboard Cards */

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
    width:220px;
}
